<div class="accordion panel inverse" data-options="{allowOnePane: true, rerouteOnLinkClick: false}">
  <!-- A -->
  <!--<div class="accordion-header"><a href="javascript:void(0);"><span>A</span></a></div>
  <div class="accordion-pane">
    <div class="accordion-header list-item"><a [routerLink]="['dashboard']"><span>Dashboard</span></a></div>
    <div class="accordion-header list-item"><a [routerLink]="['favourites']"><span>Favourites</span></a></div>
  </div>-->
 



  <div class="accordion-header"><a [routerLink]="['dashboard']"><span>Dashboard</span></a></div>
  <div class="accordion-header"><a [routerLink]="['favourites']"><span>Favourites</span></a></div>





</div>