<!--<p>edit-item works....!</p>

{{model.header}}-->

<div class="field">
    <label for="subject">Name</label>
    <input type="text" id="name" name="name" placeholder="{{model.name}}" [(ngModel)]="name"/>
</div>
<div class="field">
    <label for="subject">breed</label>
    <input type="text" id="breed" name="breed" placeholder="{{model.breed}}" [(ngModel)]="breed"/>
</div>
<div class="field">
    <label for="subject">Description</label>
    <input type="text" id="desc" name="desc" placeholder="{{model.description}}" [(ngModel)]="description"/>
</div>
<!--<div class="field">
    <button soho-button="primary" id="LikeStatus" soho-button (click)="like()">Like</button>
</div>-->
