

<!--<soho-icons></soho-icons>
<soho-icons-uplift></soho-icons-uplift>-->
<!-- <nav id="application-menu" class="application-menu is-open" style="height: 100%;">

        <div class="accordion panel inverse has-icons" data-options="{'allowOnePane': true}">
    
          <div class="accordion-header is-expanded is-selected hide-focus">
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-home"></use>
            </svg>
            <a href="#" aria-expanded="true"><span style="width: auto;">Item One</span></a>
          </div>
    
          <div class="accordion-header hide-focus">
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-tools"></use>
            </svg>
            <a href="#"><span style="width: auto;">Item Two</span></a>
          </div>
    
          <div class="accordion-header hide-focus">
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-columns"></use>
            </svg>
            <a href="#"><span style="width: auto;">Item Three</span></a>
          </div>
    
          <div class="accordion-header hide-focus">
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-cascade"></use>
            </svg>
            <a href="#"><span style="width: auto;">Item Four</span></a>
          </div>
    
          <div class="accordion-header hide-focus">
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-insert-image"></use>
            </svg>
            <a href="#"><span style="width: auto;">Item Five</span></a>
          </div>
    
          <div class="accordion-header hide-focus">
            <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
              <use xlink:href="#icon-ledger"></use>
            </svg>
            <a href="#"><span style="width: auto;">Item Six</span></a>
          </div>
    
        </div>
    
        <div class="branding">
          <svg class="icon" viewBox="0 0 34 34" focusable="false" aria-hidden="true" role="presentation">
            <use xlink:href="#icon-logo"></use>
          </svg>
        </div>
      </nav>

    <header class="header is-personalizable">
        <div class="toolbar">
          <div class="title">
           <button class="btn-icon application-menu-trigger hide-focus" type="button" tabindex="0">
            <span class="audible">Show navigation</span>
            <span class="icon app-header">
              <span class="one"></span>
              <span class="two"></span>
              <span class="three"></span>
            </span>
          </button>
      
            <h1>Page Title</h1>
          </div>
      
          <div class="buttonset">
            <label for="header-searchfield" class="audible">Search</label>
            <input id="header-searchfield" class="searchfield" name="header-searchfield" />
          </div>
      
          <div class="more">
            <button class="btn-actions" type="button">
              <svg class="icon" focusable="false" aria-hidden="true" role="presentation">
                <use xlink:href="#icon-more"></use>
              </svg>
              <span class="audible" data-translate="text">More</span>
            </button>
            <div class="popupmenu-wrapper bottom"><ul id="popupmenu-toolbar-0" class="popupmenu" role="menu"></ul><div class="arrow"></div></div>
          </div>
      
        </div>
      </header> -->



<!--<div>   
<div class="accordion-pane">
 <div class="accordion-header list-item"><a [routerLink]="['dashboard']"><span>Dashboard</span></a></div>
  <div class="accordion-header list-item"><a [routerLink]="['favourites']"><span>Favourites</span></a></div>
</div>
</div>-->

<!--<soho-header>
  
  <soho-toolbar hasMoreButton="true">

    <soho-toolbar-title>
      <button soho-nav-button>Show Navigation</button>
     <h1>
        <span soho-page-title>Dogs</span>
        <span soho-section-title>Demo</span>
      </h1>
    </soho-toolbar-title>

    
    

    </soho-toolbar>
  </soho-header>

<a [routerLink]="['dashboard']"><h4>Dashboard</h4></a>
<a [routerLink]="['favourites']"><h4>Favourites</h4></a>



<router-outlet></router-outlet>-->


<a href="#maincontent" class="skip-link" data-translate="text">SkipToMain</a>

<soho-icons *ngIf="!useUpliftIcons"></soho-icons>
<soho-icons-uplift *ngIf="useUpliftIcons"></soho-icons-uplift>



<nav soho-application-menu class="is-personalizable" [filterable]="true" [openOnLarge]="false"
  [dismissOnClickMobile]="true" (menuVisibility)="onMenuVisibility($event)">
    <div soho-searchfield-wrapper>
    <label class="audible" for="application-menu-searchfield">Search</label>
    <input soho-searchfield id="application-menu-searchfield" [clearable]="true" />
  </div>
  <app-menu></app-menu>
</nav>
<div class="page-container no-scroll">
  <app-header></app-header>
  <div id="maincontent" class="page-container scrollable" role="main">
      <router-outlet></router-outlet>
  </div>
</div>
<div soho-personalize (changetheme)="onChangeTheme($event)"></div>


